:root {
  --white: #f5f5f7;
  --black: #00385a;
  --lime: #32cd32;
  --blue-link: #06c;
  --blue-link-hover: #147ce5;
  --bg-nav: #424245;
  --bg-footer: #002922;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: var(--bg-nav);
  color: var(--white);
}

section {
  /*background-color: #0a4b78;*/
  background: linear-gradient(90deg, rgba(10,75,120,1) 0%, rgba(9,61,97,1) 75%);
}
section svg {
  padding-top: 0.25rem;
}

h1 {
  color: var(--white);
}

main h2 {
  color: var(--black);
}

section h2 {
  color: var(--white);
}

h3 {
  color: var(--blue-link);
}

h4 {
  color: var(--bg-nav);
}

a {
  color: var(--blue-link);
}

.job {
  color: var(--lime);
}

@media screen and (max-width: 480px) {
  .job {
    display: none;
  }
}

.btn-primary {
  background-color: var(--blue-link);
  border-color: var(--blue-link);
}
.btn-outline-primary {
  color: var(--blue-link);
  border-color: var(--blue-link);
}
.btn-primary:hover, .btn-outline-primary:hover {
  background-color: var(--blue-link-hover);
  border-color: var(--blue-link-hover);
}

.rotate {
  transform: perspective(1500px) rotateY(-15deg);
  transition: transform 1s ease 0s;
}
.rotate-left {
  transform: perspective(1500px) rotateY(15deg);
  transition: transform 1s ease 0s;
}
.rotate:hover, .rotate-left:hover {
    transform: perspective(3000px) rotateY(5deg);
}