html {
  scroll-behavior: smooth;
}

h1 {
  color: #f5f5f7;
}

h3 {
  color: #06c;
}

h4, header p {
  color: #424245;
}

a {
  color: #06c;
}

.btn-primary {
  background-color: #06c;
}
.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #147ce5;
  border-color: #147ce5;
}

.btn-outline-primary {
  color: #06c;
  border-color: #06c;
}

.rotate {
  transform: perspective(1500px) rotateY(-15deg);
  transition: transform 1s ease 0s;
}
.rotate-left {
  transform: perspective(1500px) rotateY(15deg);
  transition: transform 1s ease 0s;
}
.rotate:hover, .rotate-left:hover {
    transform: perspective(3000px) rotateY(5deg);
}

section {
  background-color: #0a4b78;
}

section svg {
  padding-top: 0.25rem;
}

main h2 {
  color: rgb(0, 56, 90);
}

section h2 {
  color: #e6f1f5;
}

header {
  background-color: #424245;
  color: #f5f5f7;
}

.job {
  color: limegreen;
}

@media screen and (max-width: 480px) {
  .job {
    display: none;
  }
}

footer {
  background-color: rgb(0, 41, 34);
}