html {
  scroll-behavior: smooth;
}

h1 {
  color: rgb(0, 117, 204);
}

main h2 {
  color: rgb(0, 56, 90);
}

header {
  background-color: rgb(0, 56, 90);
}

footer {
  background-color: rgb(0, 41, 34);
}